.container{
    max-width: 1110px;
    margin: 0 auto;
}
@media only screen and (max-width: 768px){
    .container{
        max-width: 848px;
        width: 100%;
        padding: 0 40px;
    }
}
@media only screen and (max-width: 375px){
    .container{
        max-width: 419px;
        width: 100%;
        padding: 0 22px;
    }
}